/* seteo de styles */
* {
    box-sizing: border-box;

    margin: unset;
    padding: unset;
    border: unset;
    outline: unset;

    list-style: none;
    text-decoration: none;

    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

    color: #ffffff;
}

/* Mientras tanto para cambiar el background del body */

body {
    background-color: #202022;
}

/* heading background */

.heading__background {
    padding: 25px 80px;
    background-image: url(/assets/jumbotron\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}


/* navbar */
.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #ffffff 1px solid;
    padding: 22px 80px;
    border-radius: 50px;

}

.navbar__nav__list {
    display: flex;
    gap: 65px;


}

.navbar__nav__list li a {
    color: #ffffff;
}

/* Boton de contactanos */
.navbar__nav_button {
    background-color: #00747C;
    color: #ffffff;
    font-weight: bold;
    padding: 20px 20px;
    border-radius: 50px;
    transition: 0.2s ease-in-out;


}
.navbar__nav_button:hover{
    transition: 0.2s ease-in;
    color: #00747C;
    background-color: #ffffff;
}

/* Jumbotron */
.jumbotron {
    padding: 50px 0;
}

.jumbotron h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    padding: 80px 105px;
    color: #ffffff;

}

/* Section 1 */

.section__principal {
    display: flex;
    padding: 10px 80px 10px 80px;
    gap: 25px;
}

/* imagen del section principal */
.section__principal__img {

    width: 50%;
    display: flex;

}

.section__principal__img img {
    padding-top: 20px;
    width: 100%;
}

/* texto del section */
.section__principal__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}

.section__principal__text h2 {

    font-size: 3.5rem;
    color: #00747C;
    font-weight: 700;

}

.section__principal__text p {
    font-size: 1.5rem;
}

/* section card */
.section-card {
    display: flex;
    padding: 60px 80px;
    gap: 80px;
    flex-wrap: wrap;


}

/* card */
.card {
    background-color: #ffffff;
    display: flex;
    flex-basis: 260px;
    flex-direction: column;
    gap: 22px;
    flex-basis: 260px;


}

/* textos y titulos */

.card__body {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 18px;
    padding-right: 18px;

}


.card__body__title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000;



}

.card__body__text {
    color: #000000;
}

.card__body__price {
    color: #00747C;
    font-weight: bold;
    font-size: 1.25rem;
}




/* img */

.card__img {
    width: 100%;

}


.card button {
    width: 100%;
    padding: 12px;
    background-color: #00747C;
    transition: 0.2s ease-in-out;

}

.card button:hover {
    background-color: #ffffff;
    color: #00747C;
    font-weight: bold;
    transition: 0.3s ease-in;
    border: #00747C;

}

/* footer */

.footer__content {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    gap: 100px;
    padding-top: 25px;
    padding-bottom: 25px;

}

.footer__content__title__img {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer__content__title__img img {
    width: 56px;
}

.footer__content__body {
    display: flex;
    gap: 120px;
}

.footer__content__body__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__content__body__text h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}